.DS_Store
.idea
*.log
tmp/

wp.state.json

.config/vdirsyncer/
.config/khal/
.config/easyeffects/
.config/yarn/
.config/wget/
.config/npm/
.config/jupyter/
.config/ipython/
.config/docker/
.config/cef_user_data/
.config/Postman/
.config/chromium/
.config/ClickUp/
.config/dconf/
.config/discord/
.config/emacs/
.config/eog/
.config/evolution/
.config/GIMP/
.config/gmic/
.config/gnome-control-center/
.config/gnome-session/
.config/goa-1.0/
.config/go/
.config/GREYC/
.config/gtk-*/
.config/ibus/
.config/neocities/
.config/ngrok/
.config/obs-studio/
.config/obsidian/
.config/oh-my-zsh/
.config/powerlevel10k/
.config/procps/
.config/pulse/
.config/qBittorrent/
.config/rclone/
.config/REAPER/
.config/retroarch/
.config/Signal/
.config/Slack/
.config/spotify/
.config/syncthing*/
.config/totem/
.config/VSCodium/
.config/yay/
.config/yelp/
.config/focus-editor/
.config/mypaint/
.config/htop/
.config/menus/
.config/Bitwarden/
.config/Popcorn-Time/
.config/jamesdsp/
.config/protonvpn/
.config/zaapi/
.config/heroic/
.config/OpenRGB/
.config/VirtualBox/
.config/audacity/
.config/configstore/
.config/corectrl/
.config/firebase/
.config/simple-scan/
.config/Webcamoid/
.config/neofetch/
.config/Proton/
.config/libreoffice/
.config/go/
.config/Roam
.config/tmux/plugins
.config/pmgdl
.config/.nuxt
.config/.wrangler
.config/Upscayl
.config/nextjs-nodejs
.config/turborepo
.config/clerk
.config/epiphany
.config/configstore
.config/evolution
.config/nextjs*
.config/stripe
.config/turborepo
.config/zsh/.node_token
.config/zsh/.zhistory
.config/.gsd-ke*
.config/dleyna*
.config/kde*
.config/QtProject.conf
.config/monitors*
.config/connections.db
.config/mgdl/mgdl.db
.config/.nuxtrc
.config/inkscape
.config/qmk_firmware
.config/kcharselectrc
.config/mgba
.config/milkytracker
.config/FreeCAD
.config/MuseScore
.config/zoom*
.config/Google
.config/flutter
.config/BraveSoftware
.config/google-chrome
.config/opera
.config/vivaldi
.config/zen
.config/Android Open Source Project/
.config/capacitor/
.config/vlc/
.config/simple-update-notifier/
.config/mgdl/secrets.toml
.config/zsh/plugins/zsh-autosuggestions/
.config/zsh/plugins/zsh-history-substring-search/
.config/zsh/plugins/zsh-syntax-highlighting/
.local/bin/gallery-dl
.local/bin/manga-py
.local/bin/RuneLite.AppImage
.local/bin/ffultima1.8.6.irc.zip
.local/bin/zeninstall
.local/bin/keymap
.local/bin/claude
/.local/share/applications/musescore-studio.desktop
/.local/share/applications/Fallout New Vegas.desktop
.config/quickshell/notification_history.json
/.config/exercism/
/.local/bin/exercism
.config/mozilla/
.local/bin/zoxide

# kde
.config/KDE/
.config/Kvantum/
.config/Trolltech.conf
.config/baloofilerc
.config/bluedevilglobalrc
.config/discoverrc
.config/dolphinrc
.config/drkonqirc
.config/filetypesrc
.config/fontgroups.xml
.config/gtkrc
.config/gtkrc-2.0
.config/kactivitymanagerd-statsrc
.config/kactivitymanagerdrc
.config/kcminputrc
.config/kconf_updaterc
.config/kglobalshortcutsrc
.config/kgpgrc
.config/kgpgrc.bak
.config/kiorc
.config/krdpserverrc
.config/krunnerrc
.config/kscreenlockerrc
.config/ksmserverrc
.config/ksplashrc
.config/ktimezonedrc
.config/kwalletmanagerrc
.config/kwalletrc
.config/kwinoutputconfig.json
.config/kwinrc
.config/kwinrulesrc
.config/kxkbrc
.config/libaccounts-glib/
.config/okularpartrc
.config/okularrc
.config/plasma-localerc
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasma-welcomerc
.config/plasmanotifyrc
.config/plasmarc
.config/plasmashellrc
.config/plasmoidviewer-appletsrc
.config/powerdevilrc
.config/powermanagementprofilesrc
.config/session/
.config/spectaclerc
.config/systemmonitorrc
.config/systemsettingsrc
.config/trashrc
.config/xdg-desktop-portal/kde-portals.conf
.config/xsettingsd/
.local/share/plasma/
.config/microsoft-edge/
.config/environment.d/10-gnupg.conf
.config/microsoft-edge/
.config/systemd/user/gpg-socket-watch.service
.config/systemd/user/graphical-session.target.wants/gpg-socket-watch.service
.config/systemd/user/plasma-kwin_wayland.service.d/
.local/bin/gpg-socket-watch.sh
.local/bin/pinentry-logwrap
.config/breezerc
.config/emaildefaults
.config/glib-2.0/
.config/plasma-nm
