.DS_Store
.idea
*.log
tmp/

.config/cef_user_data/
.config/Postman/
.config/chromium/
.config/ClickUp/
.config/dconf/
.config/discord/
.config/emacs/
.config/eog/
.config/evolution/
.config/GIMP/
.config/gmic/
.config/gnome-control-center/
.config/gnome-session/
.config/goa-1.0/
.config/GREYC/
.config/gtk-*/
.config/ibus/
.config/neocities/
.config/ngrok/
.config/obs-studio/
.config/obsidian/
.config/oh-my-zsh/
.config/powerlevel10k/
.config/procps/
.config/pulse/
.config/qBittorrent/
.config/rclone/
.config/REAPER/
.config/retroarch/
.config/Signal/
.config/Slack/
.config/spotify/
.config/syncthing*/
.config/totem/
.config/VSCodium/
.config/yay/
.config/yelp/
.config/focus-editor/
.config/mypaint/
.config/htop/
.config/menus/
.config/Bitwarden/
.config/Popcorn-Time/
.config/jamesdsp/
.config/protonvpn/
.config/zaapi/
.config/heroic/
.config/OpenRGB/
.config/VirtualBox/
.config/audacity/
.config/configstore/
.config/corectrl/
.config/firebase/
.config/simple-scan/
.config/Webcamoid/
.config/neofetch/
.config/Proton/
.config/libreoffice/
.config/go/
.config/Roam

.config/zsh/.node_token
.config/.gsd-ke*
.config/dleyna*
.config/kde*
.config/QtProject.conf
.config/monitors*
.config/connections.db

.local/bin/gallery-dl
.local/bin/manga-py
.local/bin/RuneLite.AppImage
.local/bin/ffultima1.8.6.irc.zip
.local/bin/zeninstall
