[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Keyboard Layout Conky
Comment=
Exec=/usr/bin/conky -c /home/nasreddin/.config/conky/keyboard-layers.conf
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=true

