[Desktop Entry]
Name=Devilspie2
Type=Application
Exec=/bin/bash -c "openrgb -p nas.orp &> /dev/null"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
