[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=OpenRGB
Comment=load OpenRGB profile
Exec=/usr/bin/sudo /usr/bin/openrgb -p "pinku"
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

