[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=rand-bg
Comment=Pick new random wallpaper
Exec=/home/nasreddin/.local/bin/rand-bg
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

