[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=XKB Supercaps
Comment=caps should be more useful
Exec=/home/nasreddin/.local/bin/xkbsupercaps
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

