@import url("./colors.css");
* {
    border: none;
    border-radius: 0;
    font-family: Sauce Code Pro;
    font-size: 14px;
    min-height: 0;
}
window#waybar {
    background: @background-darker;
    color: @foreground;
    /* border-bottom: 2px solid @background; */
    margin-right: 10px;
}

#workspaces {
    margin-left: 2px;
    /* padding: 0 12px; */
    /* background: @background-darker; */
}
#workspaces button {
    padding: 0 0px;
    margin: 4px 2px 4px 2px;
    /* background: @background-darker; */
    color: @foreground;
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: @selection;
}
#workspaces button.focused,
#workspaces button.active {
    /* background-image: linear-gradient(0deg, @purple, @selection); */
    background: @foreground;
    color: @background-darker;
}
#workspaces button.urgent {
    background: @red;
}
#taskbar button.active {
    /* background: @background-darker; */
}
#clock {
    /* padding: 0 12px; */
    padding-right: 8px;
    margin: 0px;
    /* background: @background-darker; */
    color: @foreground;
    /* border-bottom: 1px solid @foreground */
    /* border: 2px solid @foreground; */
}
#tray {
    /* background: @background-darker; */
    /* padding: 0 12px; */
}
#idle_inhibitor {
    /* background: @background-darker; */
    /* padding: 0 12px; */
}
#custom-sysmon {
    /* background: @background-darker; */
    /* padding: 0 12px; */
}
#pulseaudio {
    /* background: @background-darker; */
    /* padding: 0 12px; */
}
