@import url("./colors.css");
* {
    border: none;
    border-radius: 0;
    font-family: Sauce Code Pro;
    font-size: 12px;
    min-height: 0;
}
window#waybar {
    background: @background-darker;
    color: @foreground;
    /* border-bottom: 2px solid @background; */
    margin-right: 10px;
}


#workspaces {
    margin-left: 2px;
    /* padding: 0 12px; */
    /* background: @background-darker; */
    font-weight: 400;
}
#workspaces button {
    padding: 0 0px;
    margin: 4px 2px 4px 2px;
    background: @bockground-darker;
    color: @foreground;
    font-weight: 400;
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: @selection;
}
#workspaces button.hidden {
    background: transparent;
    color: @foreground;
}
#workspaces button.active {
    background: @foreground;
    color: @background-darker;
}
#workspaces button.focused {
    background: @foreground;
    color: @background-darker;
}
#workspaces button.visible {
    background: @selection;
    color: @foreground;
}
#workspaces button.urgent {
    background: @red;
    color: @background-darker;
}

#tags button {
    padding: 0 0px;
    margin: 4px 2px 4px 2px;
    color: @foreground;
    font-weight: 400;
}
#tags button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: @selection;
}
#tags button.occupied {
    background: @purple;
    color: @background-darker;
}
#tags button.focused {
    background: @foreground;
    color: @foreground;
}
#tags button.urgent {
    background: @red;
}

#window {
    margin-right: 12px;
}

#taskbar button.active {
    /* background: @background-darker; */
}
#clock {
    /* padding: 0 12px; */
    padding-right: 8px;
    margin: 0px;
    /* background: @background-darker; */
    color: @foreground;
    /* border-bottom: 1px solid @foreground */
    /* border: 2px solid @foreground; */
}
#tray {
    /* background: @background-darker; */
    /* padding: 0 12px; */
}
#idle_inhibitor {
    /* background: @background-darker; */
    /* padding: 0 12px; */
}
#custom-sysmon {
    /* background: @background-darker; */
    /* padding: 0 12px; */
}
#pulseaudio {
    /* background: @background-darker; */
    /* padding: 0 12px; */
}
