* {
    bg-dark:      #100d12;
    bg:           #151217;
    current-line: #2c292e;
    fg:           #e8e0e8;
    comment:      #cdc4ce;
    cyan:         #f3b7bc;
    green:        #d1c1d9;
    orange:       #4e4256;
    pink:         #573a70;
    purple:       #ddb9f8;
    red:          #ffb4ab;
    yellow:       #663a3f;
}
