[Desktop Entry]
Exec=~/.local/bin/close-all-notifications
Name=Close all notifications
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
