[Desktop Entry]
Name=NGU IDLE
Comment=Play this game on Steam
Exec=steam steam://rungameid/1147690
Icon=steam_icon_1147690
Terminal=false
Type=Application
Categories=Game;
