[Desktop Entry]
Name=Pentiment
Comment=Play this game on Steam
Exec=steam steam://rungameid/1205520
Icon=steam_icon_1205520
Terminal=false
Type=Application
Categories=Game;
